doctype html
html(lang="en")
    
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='./css/contents.css', type='text/css')
        title Document
    body 
        include ./head.pug
        div.contents
            form(action="/login" method="POST")
                |ID
                input(type="text" name="id" value="아이디")
                |PASSWORD  
                input(type="text" name="pwd" value="패스워드") 
                input(type='submit' value="submit") 